NODE_ENV=production
NODE_PORT={NODE_PORT}

DATABASE_HOST=mysql
MYSQL_ROOT_PASSWORD={MYSQL_ROOT_PASSWORD}
MYSQL_USER=scanhub
MYSQL_PASSWORD={MYSQL_PASSWORD}
MYSQL_DATABASE=scanhub
DATABASE_CONNECTION_LIMIT=100
DATABASE_DIALECT=mysql

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_TIMEOUT=2000

ELASTIC_HOST=es
ELASTIC_PORT=9200

ELASTIC_MAIN_INDEX=main
ELASTIC_REPORT_INDEX=report

RABBITMQ_URL=amqp://rabbitmq

UPLOAD_DIR=uploads/
NMAP_DIR=nmaps
APP_DIR=/src/app/

LOG_DIR=/tmp
ELASTIC_LOG_FILE=elastic.log
MYSQL_LOG_FILE=mysql.log
NMAP_LOG_FILE=nmap.log
ERROR_LOG_FILE=errors.log
ACL_LOG_FILE=acl.log
